docs/flows.json
[
    {
        "id": "flow_main",
        "type": "tab",
        "label": "Digital Twin - Group 24",
        "disabled": false,
        "info": "Industrial Digital Twin for Transformer Monitoring.\nGroup 24 - CO326 Course Project"
    },
    {
        "id": "comment_layer2",
        "type": "comment",
        "z": "flow_main",
        "name": "═══ LAYER 2: MQTT Transport (Sparkplug B) ═══",
        "info": "",
        "x": 300,
        "y": 40
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto (Group 24)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-group24",
        "autoConnect": true,
        "usetls": false,
        "credentials": {
            "user": "nodered",
            "password": "noderedpass"
        },
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "willPayload": ""
    },
    {
        "id": "mqtt_in_ddata",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "DDATA Subscribe",
        "topic": "spBv1.0/group24/DDATA/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "x": 130,
        "y": 120,
        "wires": [["parse_metrics", "debug_raw", "rul_function", "influx_write", "state_monitor"]]
    },
    {
        "id": "mqtt_in_dbirth",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "DBIRTH Subscribe",
        "topic": "spBv1.0/group24/DBIRTH/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "x": 130,
        "y": 180,
        "wires": [["debug_birth"]]
    },
    {
        "id": "mqtt_in_ddeath",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "DDEATH Subscribe",
        "topic": "spBv1.0/group24/DDEATH/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "x": 130,
        "y": 240,
        "wires": [["debug_death", "device_offline_alert"]]
    },
    {
        "id": "mqtt_in_status",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Status Subscribe",
        "topic": "status/group24/#",
        "qos": "1",
        "datatype": "utf8",
        "broker": "mqtt_broker_config",
        "x": 130,
        "y": 300,
        "wires": [["debug_status"]]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "flow_main",
        "name": "Raw DDATA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "x": 380,
        "y": 80
    },
    {
        "id": "debug_birth",
        "type": "debug",
        "z": "flow_main",
        "name": "DBIRTH",
        "active": true,
        "tosidebar": true,
        "x": 380,
        "y": 180
    },
    {
        "id": "debug_death",
        "type": "debug",
        "z": "flow_main",
        "name": "DDEATH",
        "active": true,
        "tosidebar": true,
        "x": 380,
        "y": 230
    },
    {
        "id": "debug_status",
        "type": "debug",
        "z": "flow_main",
        "name": "Device Status",
        "active": true,
        "tosidebar": true,
        "x": 380,
        "y": 300
    },
    {
        "id": "comment_layer3",
        "type": "comment",
        "z": "flow_main",
        "name": "═══ LAYER 3: Edge Logic (Data Processing & RUL) ═══",
        "info": "",
        "x": 320,
        "y": 370
    },
    {
        "id": "parse_metrics",
        "type": "function",
        "z": "flow_main",
        "name": "Parse Sparkplug B Metrics",
        "func": "// Parse Sparkplug B metrics array into a flat object\nlet metrics = msg.payload.metrics || [];\nlet parsed = {};\n\nfor (let m of metrics) {\n    parsed[m.name] = m.value;\n}\n\nparsed.timestamp = msg.payload.timestamp;\nparsed.seq = msg.payload.seq;\n\nmsg.payload = parsed;\nmsg.topic = 'transformer01';\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 120,
        "wires": [["dashboard_current", "dashboard_temp", "dashboard_anomaly", "dashboard_actuator", "influx_formatted"]]
    },
    {
        "id": "rul_function",
        "type": "function",
        "z": "flow_main",
        "name": "RUL Estimator (Linear Regression)",
        "func": "// =============================================================\n// Cloud RUL Estimation – Linear Regression\n// =============================================================\n// Extracts temperature from Sparkplug B metrics, maintains a\n// history buffer, and estimates Remaining Useful Life (hours)\n// until temperature reaches the 85°C threshold.\n\nlet temp = null;\nfor (let m of msg.payload.metrics) {\n    if (m.name === 'Temperature') temp = m.value;\n}\n\nif (temp === null) return msg;\n\n// Maintain history (last 60 values, ~2 min at 2s interval)\nlet history = flow.get('tempHistory') || [];\nhistory.push(temp);\nif (history.length > 60) history.shift();\nflow.set('tempHistory', history);\n\nlet rul = 'Learning...';\nlet rulHours = -1;\n\nif (history.length >= 10) {\n    let n = history.length;\n    let sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\n    for (let i = 0; i < n; i++) {\n        sumX += i;\n        sumY += history[i];\n        sumXY += i * history[i];\n        sumX2 += i * i;\n    }\n    let slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX * sumX);\n    let currentTemp = history[n - 1];\n    let threshold = 85.0;\n\n    if (slope > 0.01 && currentTemp < threshold) {\n        // Convert slope (per sample) to slope per hour\n        // Each sample is 2 seconds apart\n        let slopePerHour = slope * (3600 / 2);\n        let hours = (threshold - currentTemp) / slopePerHour;\n        rul = hours.toFixed(1) + ' hours';\n        rulHours = parseFloat(hours.toFixed(1));\n    } else if (currentTemp >= threshold) {\n        rul = 'CRITICAL';\n        rulHours = 0;\n    } else {\n        rul = 'Stable';\n        rulHours = 9999;\n    }\n}\n\n// Output RUL as a new message\nmsg.payload = {\n    rul: rul,\n    rulHours: rulHours,\n    currentTemp: temp,\n    historyLength: history.length,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 420,
        "wires": [["dashboard_rul", "influx_rul", "debug_rul"]]
    },
    {
        "id": "debug_rul",
        "type": "debug",
        "z": "flow_main",
        "name": "RUL Output",
        "active": true,
        "tosidebar": true,
        "x": 700,
        "y": 460
    },
    {
        "id": "state_monitor",
        "type": "function",
        "z": "flow_main",
        "name": "State Consistency Monitor",
        "func": "// State Consistency Monitoring\n// Checks if actuator state matches expectations\n\nlet metrics = msg.payload.metrics || [];\nlet anomaly = 0, actuator = 0;\n\nfor (let m of metrics) {\n    if (m.name === 'AnomalyScore') anomaly = m.value;\n    if (m.name === 'ActuatorState') actuator = m.value;\n}\n\n// Rule: if anomaly detected but actuator not tripped, flag inconsistency\nlet consistent = true;\nlet alertMsg = '';\n\nif (anomaly > 0 && actuator === 0) {\n    consistent = false;\n    alertMsg = 'WARNING: Anomaly detected but actuator not tripped!';\n}\n\nmsg.payload = {\n    consistent: consistent,\n    alert: alertMsg,\n    anomaly: anomaly,\n    actuator: actuator,\n    timestamp: new Date().toISOString()\n};\n\nif (!consistent) {\n    node.warn(alertMsg);\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 480,
        "wires": [["debug_consistency"]]
    },
    {
        "id": "debug_consistency",
        "type": "debug",
        "z": "flow_main",
        "name": "State Consistency",
        "active": false,
        "tosidebar": true,
        "x": 720,
        "y": 520
    },
    {
        "id": "device_offline_alert",
        "type": "function",
        "z": "flow_main",
        "name": "Device Offline Alert",
        "func": "msg.payload = {\n    alert: 'DEVICE OFFLINE',\n    device: 'transformer01',\n    timestamp: new Date().toISOString(),\n    details: 'DDEATH message received – device has disconnected'\n};\nnode.warn('Device transformer01 went OFFLINE!');\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 260,
        "wires": [["debug_alert"]]
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "flow_main",
        "name": "Offline Alert",
        "active": true,
        "tosidebar": true,
        "x": 700,
        "y": 260
    },
    {
        "id": "comment_layer4",
        "type": "comment",
        "z": "flow_main",
        "name": "═══ LAYER 4: Application (Storage, Dashboard, Digital Twin) ═══",
        "info": "",
        "x": 350,
        "y": 570
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "digitaltwin",
        "name": "InfluxDB (digitaltwin)",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true,
        "credentials": {
            "username": "admin",
            "password": "admin123"
        }
    },
    {
        "id": "influx_formatted",
        "type": "function",
        "z": "flow_main",
        "name": "Format for InfluxDB",
        "func": "// Format parsed metrics for InfluxDB\nmsg.payload = [\n    {\n        measurement: 'transformer_data',\n        fields: {\n            current: msg.payload.Current || 0,\n            temperature: msg.payload.Temperature || 0,\n            anomaly_score: msg.payload.AnomalyScore || 0,\n            actuator_state: msg.payload.ActuatorState || 0,\n            uptime: msg.payload.UptimeSeconds || 0\n        },\n        tags: {\n            device: 'transformer01',\n            plant: 'plant01',\n            group: 'group24'\n        }\n    }\n];\nreturn msg;",
        "outputs": 1,
        "x": 700,
        "y": 140,
        "wires": [["influx_write"]]
    },
    {
        "id": "influx_write",
        "type": "influxdb out",
        "z": "flow_main",
        "influxdb": "influx_config",
        "name": "Write to InfluxDB",
        "measurement": "transformer_data",
        "precision": "ms",
        "retpolicy": "",
        "database": "digitaltwin",
        "x": 940,
        "y": 140
    },
    {
        "id": "influx_rul",
        "type": "function",
        "z": "flow_main",
        "name": "Format RUL for InfluxDB",
        "func": "msg.payload = [\n    {\n        measurement: 'rul_estimation',\n        fields: {\n            rul_hours: msg.payload.rulHours || -1,\n            current_temp: msg.payload.currentTemp || 0,\n            history_length: msg.payload.historyLength || 0\n        },\n        tags: {\n            device: 'transformer01',\n            group: 'group24'\n        }\n    }\n];\nreturn msg;",
        "outputs": 1,
        "x": 720,
        "y": 420,
        "wires": [["influx_write_rul"]]
    },
    {
        "id": "influx_write_rul",
        "type": "influxdb out",
        "z": "flow_main",
        "influxdb": "influx_config",
        "name": "Write RUL to InfluxDB",
        "measurement": "rul_estimation",
        "precision": "ms",
        "x": 960,
        "y": 420
    },
    {
        "id": "comment_digitaltwin",
        "type": "comment",
        "z": "flow_main",
        "name": "═══ DIGITAL TWIN: Bidirectional Control ═══",
        "info": "",
        "x": 310,
        "y": 640
    },
    {
        "id": "ui_group_main",
        "type": "ui_group",
        "name": "Transformer Monitor",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Digital Twin Control",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_group_rul",
        "type": "ui_group",
        "name": "RUL & Analytics",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Digital Twin - Group 24",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dashboard_current",
        "type": "ui_gauge",
        "z": "flow_main",
        "name": "Current (A)",
        "group": "ui_group_main",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Load Current",
        "label": "A",
        "format": "{{msg.payload.Current | number:2}}",
        "min": 0,
        "max": 30,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 12,
        "seg2": 15,
        "x": 700,
        "y": 620
    },
    {
        "id": "dashboard_temp",
        "type": "ui_gauge",
        "z": "flow_main",
        "name": "Temperature (°C)",
        "group": "ui_group_main",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Winding Temperature",
        "label": "°C",
        "format": "{{msg.payload.Temperature | number:1}}",
        "min": 0,
        "max": 120,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 60,
        "seg2": 85,
        "x": 700,
        "y": 660
    },
    {
        "id": "dashboard_anomaly",
        "type": "ui_text",
        "z": "flow_main",
        "group": "ui_group_main",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "Anomaly Status",
        "label": "Anomaly Status",
        "format": "{{msg.payload.AnomalyScore > 0 ? '🔴 ANOMALY DETECTED' : '🟢 Normal'}}",
        "layout": "row-spread",
        "x": 700,
        "y": 700
    },
    {
        "id": "dashboard_actuator",
        "type": "ui_text",
        "z": "flow_main",
        "group": "ui_group_main",
        "order": 4,
        "width": "4",
        "height": "2",
        "name": "Actuator State",
        "label": "Actuator",
        "format": "{{msg.payload.ActuatorState === 1 ? '⚡ TRIPPED' : '✅ Normal'}}",
        "layout": "row-spread",
        "x": 700,
        "y": 740
    },
    {
        "id": "trip_button",
        "type": "ui_button",
        "z": "flow_main",
        "name": "Trip Actuator",
        "group": "ui_group_control",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "⚡ TRIP ACTUATOR",
        "tooltip": "Send trip command to transformer actuator",
        "color": "#ffffff",
        "bgcolor": "#c62828",
        "icon": "fa-power-off",
        "payload": "{\"timestamp\":\"{{$millis()}}\",\"metrics\":[{\"name\":\"ActuatorCommand\",\"value\":1}]}",
        "payloadType": "json",
        "topic": "",
        "x": 150,
        "y": 700,
        "wires": [["mqtt_out_dcmd"]]
    },
    {
        "id": "reset_button",
        "type": "ui_button",
        "z": "flow_main",
        "name": "Reset Actuator",
        "group": "ui_group_control",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "✅ RESET ACTUATOR",
        "tooltip": "Reset the actuator to normal state",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "icon": "fa-check-circle",
        "payload": "{\"timestamp\":\"{{$millis()}}\",\"metrics\":[{\"name\":\"ActuatorCommand\",\"value\":0}]}",
        "payloadType": "json",
        "topic": "",
        "x": 150,
        "y": 740,
        "wires": [["mqtt_out_dcmd"]]
    },
    {
        "id": "whatif_slider",
        "type": "ui_slider",
        "z": "flow_main",
        "name": "What-If Load (A)",
        "group": "ui_group_control",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": 30,
        "step": "0.5",
        "label": "What-If Load (A)",
        "x": 150,
        "y": 780,
        "wires": [["whatif_format"]]
    },
    {
        "id": "whatif_format",
        "type": "function",
        "z": "flow_main",
        "name": "Format What-If Command",
        "func": "msg.payload = JSON.stringify({\n    timestamp: new Date().toISOString(),\n    metrics: [\n        {name: 'WhatIfLoad', value: msg.payload}\n    ]\n});\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 780,
        "wires": [["mqtt_out_dcmd"]]
    },
    {
        "id": "mqtt_out_dcmd",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Publish DCMD",
        "topic": "spBv1.0/group24/DCMD/plant01/transformer01",
        "qos": "1",
        "retain": "",
        "broker": "mqtt_broker_config",
        "x": 580,
        "y": 740
    },
    {
        "id": "dashboard_rul",
        "type": "ui_text",
        "z": "flow_main",
        "group": "ui_group_rul",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "RUL Display",
        "label": "Remaining Useful Life",
        "format": "{{msg.payload.rul}}",
        "layout": "row-spread",
        "x": 700,
        "y": 380
    }
]
